[submodule "blockchain/lib/chainlink"]
	path = blockchain/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "blockchain/lib/openzeppelin-contracts"]
	path = blockchain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "blockchain/lib/v2-periphery"]
	path = blockchain/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "blockchain/lib/forge-std"]
	path = blockchain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "blockchain/lib/foundry-chainlink-toolkit"]
	path = blockchain/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "blockchain/lib/chainlink-evm"]
	path = blockchain/lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
