/node_modules/
/blockchain/cache/
/blockchain/artifacts/
/backend/.env
/backend/src/config/keys/private.pem
/blockchain/node_modules/
/backend/node_modules/
/frontend/node_modules/
/blockchain/.deps/
/blockchain/lib/
/blockchain/.env
